<h1><%= @organization.name %></h1>

<p>Signed in as <%= @current_user.email_address %></p>
<p>Plan: <%= @organization.plan %></p>
<p>Users: <%= @users_count %></p>

<p><%= link_to "Ver embarques", shipments_path(org_slug: params[:org_slug]) %></p>

<%= button_to "Log out", destroy_login_path(org_slug: params[:org_slug]), method: :delete %>
