<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Agora</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="icon" href="/icon.png" type="image/png">
    <%= vite_client_tag %>
    <%= vite_react_refresh_tag %>
    <%= vite_stylesheet_tag 'application', media: 'all' %>
    <%= vite_javascript_tag 'application.tsx' %>
  </head>
  <body>
    <%= inertia_ssr_head if inertia_request? rescue nil %>
    <%= yield %>
  </body>
</html>
